{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>This is a fake blog site. It was developed for 100 days of code on Udemey.
          The site uses a bootstrap blog template as a scaffold. The site is run using Python Flask and is connected to a relational database.</p>
        <p>The site has real production ready functionality, below is a list of the features:</p>
        <ul>
          <li>Login and Registration functionality</li>
          <li>Password Hashing</li>
          <li>Dynamic nav based on current authentication.</li>
          <li>Users can create, edit or delete their posts.</li>
          <li>Admin accounts can create, edit or delete any post.</li>
          <li>Login users can post comments on posts.</li>
        </ul>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}